*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/bg.jpg")  no-repeat   fixed center center / cover;
    font-family:   helvetica;
}

.tablette{
    display: none;
}

header{
    width:100%;
    height:75px;
    background-color: black;
    color: white;
}

.header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: black;
}

header nav{
    position: relative;
}

#menu{
    list-style-type: none;
    position: absolute;
    background-color: black;
    right: 10px;
    top:10px;
}

dt{
    width: 75px;
    display: block;;
    text-align: center;
}

dd{
    background-color: black;
    text-align: center;;
    list-style-type: none;
}

dd ul{
    list-style-type: none;
}

dd ul li a{
    color: white;
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid white;
}

dd ul li a:hover{
    background-color: white;
    color: black;
    border-top: 1px solid black;
}

dl dd{
    display: none;
}

dl:hover dd{
    display: block;

}

h1{
    width:180px;
    background-color: white;
    font-family:'Kaushan Script', cursive;
    margin: 10px 0 0 10px;
    font-size: 2em;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

h1 a{
    width: auto;
    text-decoration: none;
    color: black;
}

@media (min-width:768px) {

    #menu{
        display: none;;
    }

    .menuTablette{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .tablette{
        width: auto;
        display: flex;
        justify-content: flex-end;;
        list-style-type: none;
    }

    .tablette li a{
        width: 50px;
        padding: 5px 15px;
        color: white;
        text-decoration: none;
        border-radius: 5px;

    }

    .tablette li a:hover{
        color: black;
        background-color: white;
    }

}
